In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
input_data = pd.read_excel(
    io='zad1.xlsx',
    sheet_name='Sheet1',
    index_col='Metal oxide')

In [5]:
input_data

                Hfc    Xc  Obs. log(EC50)-1
Metal oxide
TiO2        -1492.0  4.90              1.76
ZnO2         -638.1  4.95              2.02
SiO2         -618.3  3.81              2.12
V2O3         -139.5  3.24              2.24
Sb2O3        -206.7  4.46              2.31
Bi2O3        -148.5  5.34              2.50
Mn2O3         -96.3  5.00              2.64
CoO          -786.8  7.44              2.83
In2O3         -52.1  6.78              2.92
ZnO          -449.4  8.33              3.32

In [6]:
standarized_data = (input_data.iloc[:,:2] - input_data.iloc[:,:2].mean())/input_data.iloc[:,:2].std()

In [7]:
standarized_data

                  Hfc        Xc
Metal oxide
TiO2        -2.307068 -0.326023
ZnO2        -0.393011 -0.294973
SiO2        -0.348628 -1.002909
V2O3         0.724625 -1.356877
Sb2O3        0.573993 -0.599261
Bi2O3        0.704451 -0.052785
Mn2O3        0.821460 -0.263923
CoO         -0.726329  1.251307
In2O3        0.920536  0.841450
ZnO          0.029969  1.803994

In [8]:
Y = pd.concat([2.466 + 0.244*standarized_data['Hfc'] + 0.394*standarized_data["Xc"], input_data['Obs. log(EC50)-1']],
              axis=1,
              names=['log(EC50)-1', 'Obs. log(EC50)-1'])

In [9]:
Y.columns = ['log(EC50)-1', 'Obs. log(EC50)-1']
Y

             log(EC50)-1  Obs. log(EC50)-1
Metal oxide
TiO2            1.774622              1.76
ZnO2            2.253886              2.02
SiO2            1.985789              2.12
V2O3            2.108199              2.24
Sb2O3           2.369945              2.31
Bi2O3           2.617089              2.50
Mn2O3           2.562450              2.64
CoO             2.781791              2.83
In2O3           3.022142              2.92
ZnO             3.184086              3.32


$R^2 = 1 - \frac{\sum(y_{pred} - y_{obs})^2}{\sum(y_{obs} - \bar{y}_{obs})^2}$

In [10]:
R2 = 1 - ((Y['log(EC50)-1'] - Y['Obs. log(EC50)-1'])**2).sum() / ((Y['Obs. log(EC50)-1'] - Y['Obs. log(EC50)-1'].mean())**2).sum()

In [11]:
R2

np.float64(0.9272795443275705)

$RMSE_C = \sqrt{\frac{\sum(y_{pred} - y_{obs})^2}{n_c}}$

In [12]:
RMSEc = np.sqrt(((Y['log(EC50)-1'] - Y['Obs. log(EC50)-1'])**2).sum()/Y.shape[0])

In [13]:
RMSEc

np.float64(0.12035261211397609)

# Istotnosc statystyczna modelu

$H_0$ - wariancje wartosci obserwowanych oraz teoretycznych roznia sie w sposob nieznaczacy

$H_1$ - wariancje wartosci obserwowanych oraz teoretycznych roznia sie w sposob znaczacy

In [14]:
Y

             log(EC50)-1  Obs. log(EC50)-1
Metal oxide
TiO2            1.774622              1.76
ZnO2            2.253886              2.02
SiO2            1.985789              2.12
V2O3            2.108199              2.24
Sb2O3           2.369945              2.31
Bi2O3           2.617089              2.50
Mn2O3           2.562450              2.64
CoO             2.781791              2.83
In2O3           3.022142              2.92
ZnO             3.184086              3.32

In [15]:
df1 = Y['log(EC50)-1'].shape[0] - 1
df2 = Y['Obs. log(EC50)-1'].shape[0] - 1

n = Y.shape[0]
p = Y.shape[1]

f_value = (((Y.loc[:, 'log(EC50)-1'] - Y.loc[:, 'log(EC50)-1'].mean())**2).sum() / (n - 1)) / (((Y.loc[:, 'Obs. log(EC50)-1'] - Y.loc[:, 'log(EC50)-1'])**2).sum() / (n - p - 1))

p_value = stats.f.cdf(f_value, 1, 1)
f_value2 = stats.f_oneway(Y.iloc[0], Y.iloc[1])

In [16]:
print(f'F-stat: {f_value}')
print(f'F-stat: {f_value2}')
print(f'p_value: {p_value}')

F-stat: 9.921161358208725
F-stat: F_onewayResult(statistic=np.float64(9.951676852266413), pvalue=np.float64(0.08749823842180364))
p_value: 0.8042923048598586

In [17]:
Y.iloc[:,:]

             log(EC50)-1  Obs. log(EC50)-1
Metal oxide
TiO2            1.774622              1.76
ZnO2            2.253886              2.02
SiO2            1.985789              2.12
V2O3            2.108199              2.24
Sb2O3           2.369945              2.31
Bi2O3           2.617089              2.50
Mn2O3           2.562450              2.64
CoO             2.781791              2.83
In2O3           3.022142              2.92
ZnO             3.184086              3.32